@font-face {
    font-family: 'ChungjuKimSaengTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/ChungjuKimSaengTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#title{
    font-family: 'ChungjuKimSaengTTF';
}

.header {
    width: 100%;
    position: fixed;
}

#contents {
    padding-top: 60px;
    height: 100%;  
}

.content {
    margin: 1rem;
    display: flex;
    border: 1px solid gray;
}

.img {
    width: 160px;
    margin: 1rem;
}

.conts-main {
    margin: 1rem;
}
